/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
.FourTellContainer {
  display: block;
  margin: 0px;
  padding: 0px;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.toutWrapper4T {
  border: 1px solid #dddddd;
  background: none;
}
.product4TCaption {
  color: #941A1D;
  font-size: 18px;
  background: url("//www.chokesports.com/template/images/square.png");
  line-height: 42px;
  text-transform: uppercase;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  text-align: left;
  font-weight: bold;
}
.product4T {
  background-color: white;
  padding: 5px;
  margin: 0;
  width: 160px;
  border: none;
  text-align: center;
  float: left;
  vertical-align: middle;
}
.product4T + .product4T {
  border-left: 1px dotted #dddddd;
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: 120px;
}
.product4T .productImage .productImageImg {
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  display: inline;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T .productTitle {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  height: 3em;
}
.product4T .productTitle:hover {
  min-height: 3em;
  height: auto;
}
.product4T .productPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #941A1D;
  display: inline;
  padding: 2px;
}
.product4T .strikePrice {
  text-decoration: line-through;
}
.product4T .productSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  color: #941A1D;
  font-size: 18px;
  font-weight: normal;
  display: inline;
  padding: 2px;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
}
.product4T .productBuy input {
  max-width: 100%;
  margin-top: 10px;
  padding-left: 25px;
  font-size: 13px;
  background: #201e58 url("//www.chokesports.com/template/images/white/opt.png") 8px 50% no-repeat;
}
.product4T .productBuy input:hover {
  background-color: #941A1D;
}
/* For scrollables. */
.scrollable {
  float: left;
  position: relative;
  overflow: hidden;
}
.scrollable .items {
  /* this cannot be too large;
         * must fit ev-ery-thing */
  width: 20000em;
  position: absolute;
  clear: both;
}
.scrollable .items .scrollGroup,
.scrollable .items .product4T {
  float: left;
}
/* For the buttons. */
a.browse {
  background: url(../images/hori_large.png) no-repeat;
  display: block;
  width: 15px;
  height: 18px;
  float: left;
  margin: 100px 0px;
  cursor: pointer;
  font-size: 1px;
}
a.right {
  background-position: 0 -30px;
  clear: right;
  margin-right: 0px;
}
a.left {
  background-position: 0 0;
  margin-left: 10px;
}
a.disabled {
  visibility: hidden !important;
}
/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */
/* Tout1 on PD page. */
/* Tout2 on PD page */
.product4TPD2 {
  width: 200px;
  padding: 5px 20px;
}
@media (max-width: 800px) {
  .product4TPD2 {
    width: 190px;
  }
}
@media (max-width: 1200px) {
  .product4TPD2 {
    width: 220px;
  }
}
/* Tout on the home page. */
.HOME4T a.browse {
  margin-top: 200px;
}
.product4THome {
  width: 160px;
}
/* Category pages */
/* Search */
/* View Cart */
.VC4T {
  margin: 0 auto;
  max-width: 924px;
}
.ProceedToCheckout {
  float: left;
}
.KeepShopping {
  float: right;
}
.ProceedToCheckout,
.KeepShopping {
  padding: 2px 10px;
}
.product4TVC {
  width: 200px;
  padding: 5px 15px;
}
@media (max-width: 800px) {
  .product4TVC {
    width: 210px;
    padding: 5px 20px;
  }
}
/* Checkout */
/* Quick Cart */
/* Quick view */

