/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
#main4TellContainer {
    margin: 0;
    padding: 0;
    display: block;
}

#second4TellContainer {
    margin: 0;
    padding: 0;
    background: none;
    display: block;
}

    #main4TellContainer:after, #second4TellContainer:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.FourTellContainer {
    display: block;
    margin: 0px;
    padding: 0px;
}

    .FourTellContainer:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.toutWrapper4T {
    border: 1px solid gray;
    background: none;
}

.product4TCaption {
    padding: 0;
    margin: 5px 0 0 5px;
    text-align: left;
    font-weight: bold;
}

.product4T {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 0;
    width: 120px;
    border: none;
    float: left;
    clear: none;
    text-align: center;
    vertical-align: middle;
}

    .product4T .productImage {
        padding: 10px 0;
        clear: both;
        float: none;
        height: 150px;
        width: 100%;
    }

    .product4T .productImageImg {
        border: none;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        display: inline;
    }

    .product4T .ratingImage {
        float: none;
        clear: both;
    }

    .product4T .ratingImageImg {
        border: none;
        vertical-align: middle;
        display: inline;
        padding: 2px;
    }

    .product4T .productTitle {
        color: #372E25;
        font-family: Myriad Pro, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10pt;
        height: 4em;
        width: 100%;
        overflow: hidden;
        text-decoration: none;
        margin-bottom: 5px;
    }

        .product4T .productTitle:hover {
            color: #372E25;
            text-decoration: underline;
        }

    .product4T .productPrice {
        color: #0000E6;
        font-family: Arial, Helvetica, sans-serif;
        height: 15px;
        font-size: 13px;
        font-weight: normal;
    }

    .product4T .productSalePrice {
        font-family: Arial, Helvetica, sans-serif;
        color: red;
        height: 15px;
        font-size: 13px;
        font-weight: normal;
    }

    .product4T .strikePrice {
        text-decoration: line-through;
        color: #0000E6;
    }


    .product4T .productBuy {
        cursor: pointer;
        margin: 0 0 10px;
        text-decoration: none;
    }

.productBuy input, .productBuy img {
    max-width: 100%;
    border: medium none;
}

/* For scrollables. */
.scrollable {
    float: left;
    position: relative;
    overflow: hidden;
}

    .scrollable .items {
        /* this cannot be too large;
         * must fit ev-ery-thing */
        width: 20000em;
        position: absolute;
        clear: both;
    }

.items div.scrollGroup, .items div.product4T {
    float: left;
}

/* For the buttons. */
a.browse {
    background: url(../images/hori_large.png) no-repeat;
    display: block;
    width: 15px;
    height: 18px;
    float: left;
    margin: 100px 0px;
    cursor: pointer;
    font-size: 1px;
}

a.home {
    color: #372E25;
    text-decoration: none;
}

    a.home:hover {
        color: #372E25;
        text-decoration: underline;
    }

a.right {
    background-position: 0 -30px;
    clear: right;
    margin-right: 0px;
}

a.left {
    background-position: 0 0;
    margin-left: 10px;
}

a.disabled {
    visibility: hidden !important;
}

/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */

/* Tout1 on PD page. */
.product4TCaptionPD1 {
}

.product4TPD1 {
    width: 160px;
    float: none;
}

    .product4TPD1 + .product4TPD1 {
        border-top: 1px dotted grey;
    }

    .product4TPD1 .productImage {
        height: auto;
    }

    .product4TPD1 .productImageImg {
    }

    .product4TPD1 .productTitle {
        height: auto;
    }

    .product4TPD1 .ratingImage {
    }

    .product4TPD1 .ratingImageImg {
    }

    .product4TPD1 .productSalePrice {
    }

    .product4TPD1 .productPrice {
    }

    .product4TPD1 .productBuy {
    }

/* Tout2 on PD page */
.product4TCaptionPD2 {
}

.product4TPD2 {
    margin: 4px 0px;
    padding: 5px;
}

    .product4TPD2 + .product4TPD2 {
        border-left: 1px dotted #DDD;
    }

    .product4TPD2 .productImage {
    }

    .product4TPD2 .productImageImg {
    }

    .product4TPD2 .productTitle {
        font-weight: bold;
    }

    .product4TPD2 .ratingImage {
    }

    .product4TPD2 .ratingImageImg {
    }

    .product4TPD2 .productSalePrice {
    }

    .product4TPD2 .productPrice {
    }


    .product4TPD2 .productBuy {
    }

/* View Cart */
.product4TCaptionVC {
    padding: 10px;
    margin: 0;
    text-align: left;
    color: black;
    clear: both;
}

.product4TVC {
    width: 100px;
    margin: 4px 5px;
    padding: 0 5px;
}

    .product4TVC .productImage {
        height: 90px;
        width: 90px;
    }

    .product4TVC .productImageImg {
    }

    .product4TVC .productTitle {
        font-size: 12px;
        width: 90px;
        height: 3.3em;
        font-weight: bold;
    }

    .product4TVC .ratingImage {
    }

    .product4TVC .ratingImageImg {
    }

    .product4TVC .productSalePrice {
    }

    .product4TVC .productPrice {
    }


    .product4TVC .productBuy {
        margin: 7px 0 10px;
        text-decoration: none;
    }

