/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
.FourTellContainer {
  display: block;
  margin: 0;
  padding: 0;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.state-indicator {
  color: transparent;
  position: absolute;
  top: -999em;
  left: -999em;
  /* default state */
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .state-indicator {
    /* small desktop */
    z-index: 2;
  }
}
@media only screen and (max-width: 767px) {
  .state-indicator {
    /* mobile phone */
    z-index: 3;
  }
}
.product4TCaption {
  padding: 0;
  margin: 5px 0 0 5px;
  text-align: left;
  font-weight: bold;
}
.product4T {
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 120px;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: 200px;
}
.product4T .productImage .productImageImg {
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  display: inline;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T .productTitle {
  width: 100%;
  color: #484848;
  overflow: hidden;
  font-weight: normal;
  font-size: 12px;
  height: 2.7em;
  min-height: 2.7em;
}
.product4T .productTitle:hover {
  height: auto;
}
.product4T .productTitle:hover {
  color: #eb0086;
}
.product4T .productPrice {
  font-family: Arial, Helvetica, sans-serif;
  height: 1.2em;
  font-size: 13px;
  font-weight: normal;
}
.product4T .strikePrice {
  text-decoration: line-through;
  color: #dddddd;
}
.product4T .productSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  height: 1.2em;
  font-size: 13px;
  font-weight: bold;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
}
.product4T .productBuy img,
.product4T .productBuy input,
.product4T .productBuy button {
  margin: 5px auto;
  padding: 2px 15px;
  max-width: 100%;
  background-color: transparent;
  color: #838383;
  border: 3px solid #ebebeb;
  text-transform: uppercase;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
}
.product4T .productBuy img:hover,
.product4T .productBuy input:hover,
.product4T .productBuy button:hover {
  background: #eb0086;
  border: 3px solid #eb0086;
  color: #fff;
}
/* For scrollables. */
.scrollable {
  float: left;
  position: relative;
  overflow: hidden;
}
.scrollable .items {
  /* this cannot be too large;         * must fit ev-ery-thing */
  width: 20000em;
  position: absolute;
  clear: both;
}
.scrollable .items .scrollGroup,
.scrollable .items .product4T {
  float: left;
}
/* For the buttons. */
a.browse {
  /*background: url(../images/hori_large.png) no-repeat;*/
  display: block;
  float: left;
  margin: 100px 0 0;
  cursor: pointer;
  font-size: 1px;
}
a.right.browse {
  background: url('//cdn-sb.mozu.com/6774-8926/resources/images/icons/right-arrow.png') no-repeat right center;
  color: transparent;
  width: 31px;
  height: 61px;
  float: right;
  margin-right: 0;
  clear: right;
}
a.left.browse {
  background: url('//cdn-sb.mozu.com/6774-8926/resources/images/icons/left-arrow.png') no-repeat right center;
  color: transparent;
  width: 31px;
  height: 61px;
  float: left;
  margin-right: 0;
}
a.disabled.browse {
  visibility: hidden !important;
}
/* Here follows custom classes, so as to permit each page to have its own* custom CSS. */
/* Tout1 on PD page. */
.PD14T .owl-controls {
  left: 0;
  z-index: 11;
  position: inherit;
  top: 0;
  height: auto;
}
.PD14T .owl-controls .owl-prev {
  position: absolute;
  left: -2px;
  top: -230px;
}
.PD14T .owl-controls .owl-next {
  position: absolute;
  right: 3px;
  top: -230px;
}
.product4TPD1 {
  width: 100%;
}
.product4TPD1 .productImage {
  height: auto;
}
.product4TPD1 .productImage .productImageImg {
  max-width: 230px;
  max-height: 240px;
}
/* Tout2 on PD page */
/* Tout on the home page. */
/* Category pages */
.product4TCat {
  width: 260px;
  padding: 5px 15px;
}
.product4TCat .productImage {
  height: 200px;
}
/* Search */
/* View Cart */
.product4TVC {
  width: 260px;
  padding: 5px 15px;
}
.product4TVC .productImage {
  height: 200px;
}
/* Checkout */
/* Quick Cart */
/* Quick view */

