/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
.FourTellContainer {
  display: block;
  margin: 0;
  padding: 0;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.toutWrapper4T {
  border: 1px solid #dddddd;
  background: none;
}
.product4TCaption {
  padding: 0;
  /*margin: 5px 0 0 5px;*/
  text-align: left;
  font-weight: bold;
}
.product4T {
  background-color: transparent;
  padding: 5px;
  margin: 0 auto;
  width: 90%;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.product4T + .product4T {
  border-left: 1px dotted #dddddd;
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: 100px;
}
.product4T .productImage .productImageImg {
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  display: inline;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T .productTitle {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  height: 3.4em;
  min-height: 3.4em;
}
.product4T .productTitle:hover {
  height: auto;
}
.product4T .productPrice {
  font-family: Arial, Helvetica, sans-serif;
  height: 1.2em;
  font-size: 13px;
  font-weight: normal;
}
.product4T .strikePrice {
  text-decoration: line-through;
  color: #dddddd;
}
.product4T .productSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  height: 1.2em;
  font-size: 13px;
  font-weight: bold;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
}
.product4T .productBuy img,
.product4T .productBuy input {
  max-width: 100%;
  border: medium none;
}
/* For scrollables. */
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.FourTellContainer .owl-controls {
  z-index: 11;
  position: absolute;
  left: 0;
  /*top: 40%;*/
  top: 0;
  height: auto;
  width: 100%;
}
.FourTellContainer .owl-controls .owl-buttons div {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAwCAMAAAD5JNAAAAAAqFBMVEX///+wsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLG4mILSAAAAN3RSTlMAAQIDCAkLEhMaIiorLTg9QENHTlZcX2JkZn2Bg4uhpaetuL/Fx87Y3N7h6Onq7PL0+fr7/P3+pwOaKAAAAMhJREFUeF7d0EeywkAMRdE2tsGRnKOJDmTa9Nv/zj71B2ppwAa4szORqp6iGr21YjXHp4uVGy9z1ES/vQGs/UEBa7e1Ohuy4/WzG0COZgeAeQIID6uncNDJHsb6UzLPDfm/6VELq3R3F1bh4qrxVrZgtH9pxetuSwva4xda9xrC5bYrrF/7UcD8hr4uQusawH2XCkMfp8Iw+TzhhnlknYAZeFZDYWAifJhFzLes7zlkc161XHa/GPj8/6b9ITlfxq6iLqdx89sef8r8Ldm5n+0eAAAAAElFTkSuQmCC') /*../images/hori_large.png*/ no-repeat;
  width: 15px;
  height: 18px;
}
.FourTellContainer .owl-controls .owl-next {
  background-position: 0 -30px !important;
  position: absolute;
  right: 0px;
  top: 100px;
  float: right;
}
.FourTellContainer .owl-controls .owl-prev {
  background-position: 0 0;
  position: absolute;
  left: 0px;
  top: 100px;
  float: left;
}
/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */
/* Tout1 on PD page. */
.product4TCaptionPD1 {
  background: #909aa2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #909aa2 0%, #9ba6aa 46%, #596a72 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #909aa2), color-stop(46%, #9ba6aa), color-stop(100%, #596a72));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #909aa2 0%, #9ba6aa 46%, #596a72 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #909aa2 0%, #9ba6aa 46%, #596a72 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #909aa2 0%, #9ba6aa 46%, #596a72 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #909aa2 0%, #9ba6aa 46%, #596a72 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#909aa2', endColorstr='#596a72', GradientType=0);
  /* IE6-9 */
  border-radius: 8px 8px 0 0;
  color: white;
  font-size: 15px;
  padding: 5px 10px;
}
.PD14T {
  float: right;
  width: 205px;
  border: 1px solid #DDD;
  border-radius: 8px;
  border-top: none;
}
/* Tout2 on PD page */
.PD24T {
  float: left;
  border: 1px solid #DDD;
  border-radius: 8px;
  border-top: none;
  margin-top: 10px;
  width: 100%;
}
/* Tout on the home page. */
#ctl00_ctl00_MainContent_uxHome_RecommendedProducts_pnlRecommendedProducts .TopSelContentBg {
  display: none;
}
.HOME4T {
  float: left;
  /*border: 1px solid #B2B2B2;
    border-top: none;
    border-radius: 0 0 5px 5px;*/
  width: 100%;
}
.HOME4T .product4TCaption {
  margin: 0 0 0 20px;
  border-bottom: 4px solid #0077a3;
}
.HOME4T .product4TCaption span {
  background: none repeat scroll 0 0 #0077a3;
  border-radius: 25px 25px 0;
  color: #ffffff;
  padding: 12px 25px;
  margin-left: -20px;
  display: inline-block;
  margin-bottom: -4px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 25px;
}
/* Category pages */
.CAT4T {
  clear: both;
}
/* Search */
/* View Cart */
.VC4T {
  float: left;
  border: 1px solid #DDD;
  border-radius: 8px;
  border-top: none;
  margin-top: 10px;
  width: 100%;
}
/* Checkout */
/* Quick Cart */
/* Quick view */

