/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
.FourTellContainer {
  display: block;
  margin: 0;
  padding: 0;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.toutWrapper4T {
  border: 1px solid #dddddd;
  background: none;
}
.product4TCaption {
  padding: 0;
  color: #c46f00;
  margin-top: 0.5em;
  font-size: 18px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 5px 0 0 5px;
  text-align: left;
  font-weight: bold;
}
.product4T {
  background-color: transparent;
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.product4T + .product4T {
  border-left: 1px dotted #dddddd;
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: 140px;
  border: 1px solid #eee;
}
.product4T .productImage .productImageImg {
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  display: inline;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T a.home {
  text-decoration: none;
}
.product4T .productTitle {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  height: 3.4em;
  min-height: 3.4em;
  font-size: 11px;
  text-align: left;
  color: #360;
  text-decoration: none;
}
.product4T .productTitle:hover {
  height: auto;
}
.product4T .productPrice {
  font-family: Arial, Helvetica, sans-serif;
  height: 1.2em;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
}
.product4T .strikePrice {
  text-decoration: line-through;
  color: #dddddd;
}
.product4T .productSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  height: 1.2em;
  font-size: 13px;
  font-weight: bold;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
}
.product4T .productBuy img,
.product4T .productBuy input {
  max-width: 100%;
  border: medium none;
}
/* For scrollables. */
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.FourTellContainer .owl-carousel .owl-item {
  float: left;
}
.FourTellContainer .owl-carousel .owl-item .product4T {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.FourTellContainer .owl-controls {
  z-index: 11;
  position: absolute;
  left: 0;
  /*top: 40%;*/
  top: 0;
  height: auto;
  width: 100%;
}
.FourTellContainer .owl-controls .owl-buttons div {
  background: url('http://admin06.webstorepackage.com/jbp/virtualweb/templates/gfx/scrollable/arrow/hori_large.png') no-repeat;
  width: 30px;
  height: 30px;
}
.FourTellContainer .owl-controls .owl-next {
  background-position: 0 -30px !important;
  position: absolute;
  right: 0px;
  top: 100px;
  float: right;
}
.FourTellContainer .owl-controls .owl-next:hover {
  background-position: -30px -30px !important;
}
.FourTellContainer .owl-controls .owl-prev {
  background-position: 0 0;
  position: absolute;
  left: 0px;
  top: 100px;
  float: left;
}
.FourTellContainer .owl-controls .owl-prev:hover {
  background-position: -30px 0 !important;
}
/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */
/* Tout1 on PD page. */
.PD14T {
  width: 90%;
  margin: 0 auto;
}
.PD14T .owl-carousel .owl-prev {
  left: -4%;
}
.PD14T .owl-carousel .owl-next {
  right: -4%;
}
/* Tout2 on PD page */
/* Tout on the home page. */
/* Category pages */
/* Search */
/* View Cart */
/* Checkout */
/* Quick Cart */
/* Quick view */

