/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
.FourTellContainer {
  display: block;
  margin: 0;
  padding: 0;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.toutWrapper4T {
  border: 1px solid #dddddd;
  background: none;
}
.product4TCaption {
  padding: 0;
  margin: 5px 0 0 5px;
  text-align: left;
  font-weight: bold;
}
.product4T {
  background-color: transparent;
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.product4T + .product4T {
  border-left: 1px dotted #dddddd;
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: auto;
}
.product4T .productImage .productImageImg {
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  display: inline;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T .productTitle {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  height: 3.4em;
  min-height: 3.4em;
}
.product4T .productTitle:hover {
  height: auto;
}
.product4T .productPrice {
  font-family: Arial, Helvetica, sans-serif;
  height: 1.2em;
  font-size: 13px;
  font-weight: normal;
}
.product4T .strikePrice {
  text-decoration: line-through;
  color: #dddddd;
}
.product4T .productSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  height: 1.2em;
  font-size: 13px;
  font-weight: bold;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
}
.product4T .productBuy img,
.product4T .productBuy input {
  max-width: 100%;
  border: medium none;
}
/* For scrollables. */
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.FourTellContainer .owl-carousel .owl-item {
  float: left;
}
.FourTellContainer .owl-carousel .owl-item .product4T {
  width: 80%;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.FourTellContainer .owl-controls {
  z-index: 11;
  position: absolute;
  left: 0;
  /*top: 40%;*/
  top: 0;
  height: auto;
  width: 100%;
}
.FourTellContainer .owl-controls .owl-buttons div {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAwCAMAAAD5JNAAAAAAqFBMVEX///+wsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLG4mILSAAAAN3RSTlMAAQIDCAkLEhMaIiorLTg9QENHTlZcX2JkZn2Bg4uhpaetuL/Fx87Y3N7h6Onq7PL0+fr7/P3+pwOaKAAAAMhJREFUeF7d0EeywkAMRdE2tsGRnKOJDmTa9Nv/zj71B2ppwAa4szORqp6iGr21YjXHp4uVGy9z1ES/vQGs/UEBa7e1Ohuy4/WzG0COZgeAeQIID6uncNDJHsb6UzLPDfm/6VELq3R3F1bh4qrxVrZgtH9pxetuSwva4xda9xrC5bYrrF/7UcD8hr4uQusawH2XCkMfp8Iw+TzhhnlknYAZeFZDYWAifJhFzLes7zlkc161XHa/GPj8/6b9ITlfxq6iLqdx89sef8r8Ldm5n+0eAAAAAElFTkSuQmCC') /*../images/hori_large.png*/ no-repeat;
  width: 15px;
  height: 18px;
}
.FourTellContainer .owl-controls .owl-next {
  background-position: 0 -30px !important;
  position: absolute;
  right: 0px;
  top: 100px;
  float: right;
}
.FourTellContainer .owl-controls .owl-prev {
  background-position: 0 0;
  position: absolute;
  left: 0px;
  top: 100px;
  float: left;
}
/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */
/* Tout1 on PD page. */
.PD14T {
  float: left;
  border-top: 1px solid #DDD;
  margin-left: 30px;
}
.product4TPD1 .productImage {
  width: 40%;
  float: left;
  height: 72px !important;
  padding: 0 !important;
  margin-bottom: 10px;
}
.product4TPD1 .productImage .productImageImg {
  height: 72px;
  margin-top: 0;
}
.product4TPD1 .productTitle {
  float: right;
  width: 60%;
  font-size: 12px;
  line-height: 18px;
  height: 72px;
}
.product4TPD1 .productSalePrice {
  float: left;
  clear: left;
}
.product4TPD1 .productPrice {
  float: left;
  clear: left;
}
.product4TPD1 .productBuy {
  float: none;
  margin-top: 85px;
}
/* Tout2 on PD page */
.PD24T {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.PD24T .product4TCaption {
  background-color: #226586;
  background-image: linear-gradient(tobottom, #246b8e, #1f5c7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff246b8e', endColorstr='#ff1f5c7a', GradientType=0);
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px 5px 0;
}
.PD24T .product4TCaption h4 {
  color: #fcfdfe;
  font-size: 16px;
  margin: 0 0 5px 9px;
}
/* Tout on the home page. */
.product4TCaptionHome {
  padding: 5px 5px 0;
  background-color: #226586;
  background-image: -moz-linear-gradient(top, #246b8e, #1f5c7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#246b8e), to(#1f5c7a));
  background-image: -webkit-linear-gradient(top, #246b8e, #1f5c7a);
  background-image: -o-linear-gradient(top, #246b8e, #1f5c7a);
  background-image: linear-gradient(to bottom, #246b8e, #1f5c7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff246b8e', endColorstr='#ff1f5c7a', GradientType=0);
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ddd;
  font-weight: 700;
  color: #fcfdfe;
  padding-bottom: 5px;
  padding-left: 9px;
}
.HOME4T .product4TCaption {
  background-color: #226586;
  background-image: linear-gradient(tobottom, #246b8e, #1f5c7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff246b8e', endColorstr='#ff1f5c7a', GradientType=0);
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px 0 5px 11px;
}
/* Category pages */
.CAT4T {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.CAT4T .product4TCaption {
  background-color: #226586;
  background-image: linear-gradient(tobottom, #246b8e, #1f5c7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff246b8e', endColorstr='#ff1f5c7a', GradientType=0);
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px 5px 0;
}
/* Search */
/* View Cart */
/* Checkout */
/* Quick Cart */
/* Quick view */

