.FourTellContainer {
    display: block;
    margin: 0px;
    padding: 0px;
}

    .FourTellContainer:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.toutWrapper4T {
    background: none repeat scroll 0% 0% transparent;
    float: left;
}

.product4TCaption {
    color: #FFF;
    font-family: Helvetica, Verdana, Tahooma, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
    padding: 0;
    text-align: left;
}

.product4T {
    background-color: #FFFFFF;
    clear: none;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}

    .product4T .productImage {
        padding: 10px 0px;
        height: 100px;
        width: 100%;
    }

    .product4T .productImageImg {
        border: medium none;
        display: inline;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }

    .product4T .ratingImage {
    }

    .product4T .ratingImageImg {
        border: medium none;
        display: inline;
        padding: 2px;
        vertical-align: middle;
    }

    .product4T a.home {
        text-decoration: none;
    }

    .product4T .productTitle {
        color: #5c5e5c;
        font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
        font-size: 12px;
        font-weight: normal;
        height: 4em;
        overflow: hidden;
        width: 100%;
    }

        .product4T .productTitle:hover {
            text-decoration: underline;
        }

    .product4T .strikePrice {
        text-decoration: line-through;
        color: #CCC;
    }

    .product4T .productPrice {
        color: black;
        font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
        font-size: 11px;
        font-weight: bold;
        height: 15px;
    }

    .product4T .productSalePrice {
        color: red;
        font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        height: 15px;
    }

    .product4T .productBuy {
        margin: 0px 0px 10px;
        text-decoration: none;
    }

.productBuy input {
    border: none;
    padding: 2px 20px;
    background: #ec5613; /* Old browsers */
    color: white;
    border-radius: 6px;
    /*height: 36px;*/
    max-width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    /* text-shadow: 1px 1px grey; */
}

.scrollable {
    float: left;
    overflow: hidden;
    position: relative;
}

    .scrollable .items {
        clear: both;
        position: absolute;
        width: 20000em;
    }

.items div.scrollGroup, .items div.product4T {
    float: left;
}

a.browse {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1px;
    height: 190px;
    margin: 20px 0 0;
    width: 30px;
}

a.right {
    background: url("../images/prod_detail_right.jpg") no-repeat scroll 0% 0% transparent;
    clear: right;
    margin-right: 0px;
}

a.left {
    background: url("../images/prod_detail_left.jpg") no-repeat scroll 0% 0% transparent;
    margin-left: 10px;
}

a.disabled {
    visibility: hidden !important;
}

.product4TCaptionPD1 {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

.PD14T {
    max-width: 970px;
    min-width: 690px;
    margin: 0 auto;
}

    .PD14T a.left {
        background: url("../images/prod_detail_left.jpg") no-repeat scroll 0% 0% transparent;
        height: 190px;
    }

    .PD14T a.right {
        background: url("../images/prod_detail_right.jpg") no-repeat scroll 0% 0% transparent;
        height: 190px;
    }

.product4TPD1 {
    /* height: 180px; */
    margin: 0;
    padding: 0;
    width: 152px;
}

    .product4TPD1 + .product4TPD1 {
        border-left: 1px dotted grey;
    }

    .product4TPD1 .productImage {
        height: 100px;
    }

    .product4TPD1 .productImageImg {
    }

    .product4TPD1 .productTitle {
        height: 3em;
    }

    .product4TPD1 .ratingImage {
    }

    .product4TPD1 .ratingImageImg {
        margin-left: 25px;
    }

    .product4TPD1 .productSalePrice {
        height: 14px;
    }

    .product4TPD1 .productPrice {
        height: 14px;
    }

    .product4TPD1 .productBuy {
        max-height: 50%;
        max-width: 100%;
        margin: 0 auto;
    }

.product4TCaptionPD2 {
    /*color: #3C4C9F;
	margin: 0px 10px;
	padding: 0px;*/
}

.product4TPD2 {
    /* height: 271px; */
    margin: 4px 0px;
    padding: 4px;
    width: 170px;
}

    .product4TPD2 + .product4TPD2 {
        border-left: 1px dotted grey;
    }


    .product4TPD2 .productImage {
        /* border: 1px solid #CCC; */
        display: block;
        /* height: 177px; */
        /* width: 177px; */
    }

    .product4TPD2 .productImageImg {
        max-height: 90%;
        max-width: 90%;
    }

    .product4TPD2 .productTitle {
        /* width: 90%; */
    }

        .product4TPD2 .productTitle:hover {
            color: #365ef1;
            text-decoration: underline;
        }

    .product4TPD2 .ratingImage {
    }

    .product4TPD2 .ratingImageImg {
    }

    .product4TPD2 .productSalePrice {
    }

    .product4TPD2 .productPrice {
    }

    .product4TPD2 .productBuy {
    }

.product4TCaptionHome {
}

.HOME4T {
    min-width: 790px;
}

    .HOME4T a.browse {
    }

.product4THome {
    width: 180px;
}

    .product4THome + .product4THome {
    }

    .product4THome .productImage {
    }

    .product4THome .productImageImg {
    }


    .product4THome .productTitle {
    }

    .product4THome .ratingImage {
    }

    .product4THome .ratingImageImg {
    }

    .product4THome .productSalePrice {
    }

    .product4THome .productPrice {
    }

    .product4THome .productBuy {
        clear: both;
    }

#fullfeatures {
    clear: both;
}

    #fullfeatures > aside {
        width: 590px;
    }

.HOME4T2 {
    min-width: 550px;
}

    .HOME4T2 a.browse {
        margin-top: 0;
        height: 411px;
    }

    .HOME4T2 a.right {
        background: url("../images/newrelease_right.gif") no-repeat scroll 0% 0% transparent;
    }

    .HOME4T2 a.left {
        background: url("../images/newrelease_left.gif") no-repeat scroll 0% 0% transparent;
    }

.product4THome2 {
    width: 240px;
    margin: 20px 0;
}

    .product4THome2 .productImage {
        width: 50%;
        float: left;
    }

    .product4THome2 .productTitle {
        width: 50%;
        float: right;
        text-align: left;
        height: auto;
        margin-top: 1em;
    }

    .product4THome2 div.productBuy {
        float: right;
        clear: both;
        margin-right: 10px;
    }

.product4TCaptionCat {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

.CAT4T {
    min-width: 930px;
    /*border-bottom: 1px solid #A8A8A8;*/
    margin-bottom: 10px;
}

    .CAT4T a.left {
        background: url("../images/top_seller_left.jpg") no-repeat scroll 0% 0% transparent;
        height: 190px;
    }

    .CAT4T a.right {
        background: url("../images/top_seller_right.jpg") no-repeat scroll 0% 0% transparent;
        height: 190px;
    }

#CategoryItemWrapper1 {
    /* min-height: 200px; */
}

.product4TCat {
    margin: 0;
    padding: 0 5px;
    width: 200px;
}

    .product4TCat + .product4TCat {
        border-left: 1px dotted #DDDDDD;
    }

    .product4TCat .productImage {
        height: 100px;
        /*width: 80px;*/
    }

    .product4TCat .productImageImg {
    }

    .product4TCat .productTitle {
        height: 4.6em;
    }

    .product4TCat .ratingImage {
    }

    .product4TCat .ratingImageImg {
    }

    .product4TCat .productSalePrice {
        /*height: 12px;*/
    }

    .product4TCat .productPrice {
        /*height: 12px;*/
    }

    .product4TCat .productBuy {
        max-height: 50%;
        /* max-width: 50%; */
        margin: 0 auto;
    }

.product4TCaptionCat1 {
    color: #333890;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 5px 0 0 5px;
}

.product4TCat1 {
    height: 210px;
    margin: 0px 5px;
    padding: 0px 3px;
    width: 160px;
}

    .product4TCat1 + .product4TCat1 {
        border-left: 1px dotted #DDDDDD;
    }

    .product4TCat1 .productImage {
        height: 100px;
        margin-left: 0px;
    }

    .product4TCat1 .productImageImg {
    }

    .product4TCat1 .productTitle {
        height: 3em;
    }

    .product4TCat1 .ratingImage {
    }

    .product4TCat1 .ratingImageImg {
    }

    .product4TCat1 .productSalePrice {
        /*height: 12px;*/
    }

    .product4TCat1 .productPrice {
        /*height: 12px;*/
    }

    .product4TCat1 .productBuy {
        max-height: 75%;
        max-width: 75%;
        margin: 0 auto;
    }


.product4TCaptionSearch {
}

.product4TSearch {
}

    .product4TSearch + .product4TSearch {
    }

    .product4TSearch .productImage {
    }

    .product4TSearch .productImageImg {
    }

    .product4TSearch .productTitle {
    }

    .product4TSearch .ratingImage {
    }

    .product4TSearch .ratingImageImg {
    }

    .product4TSearch .productSalePrice {
    }

    .product4TSearch .productPrice {
    }

    .product4TSearch .productBuy {
    }

.product4TCaptionVC {
}

img[src*=Kicker] {
    display: none;
}

.VC4T {width: 1000px;
    margin: 0 auto;
}

.product4TVC {
    width: 160px;
    margin: 4px 0;
    padding: 0px 12px;
}

    .product4TVC + .product4TVC {
        border-left: 1px dotted #DDDDDD;
    }

    .product4TVC .productImage {
    }

    .product4TVC .productImageImg {
    }

    .product4TVC .productTitle {
    }

    .product4TVC .ratingImage {
    }

    .product4TVC .ratingImageImg {
    }

    .product4TVC .productSalePrice {
        height: 2.4em;
    }

    .product4TVC .productPrice {
    }

    .product4TVC .productBuy {
    }

.product4TCaptionCheck {
}

.product4TCheck {
}

    .product4TCheck .productImage {
    }

    .product4TCheck .productImageImg {
    }

    .product4TCheck .productTitle {
    }

    .product4TCheck .ratingImage {
    }

    .product4TCheck .ratingImageImg {
    }

    .product4TCheck .productSalePrice {
    }

    .product4TCheck .productPrice {
    }

    .product4TCheck .productBuy {
    }

.product4TCaptionQC {
}

.QC4T {
    min-width: 750px;
}

    .QC4T a.left {
        background: url("../images/cust_fav_left_03.gif") no-repeat scroll 0% 0% transparent;
        height: 190px;
    }

    .QC4T a.right {
        background: url("../images/cust_fav_right_05.gif") no-repeat scroll 0% 0% transparent;
        height: 190px;
    }

.product4TQC {
    width: 180px;
}

    .product4TQC + .product4TQC {
        border-left: 1px dotted #ddd;
    }

    .product4TQC .productImage {
        height: 60px;
        width: 50%;
        float: left;
    }

    .product4TQC .productImageImg {
    }

    .product4TQC .productTitle {
        height: auto;
        width: 50%;
        float: right;
    }

    .product4TQC .ratingImage {
    }

    .product4TQC .ratingImageImg {
    }

    .product4TQC .productSalePrice {
    }

    .product4TQC .productPrice {
    }

    .product4TQC .productBuy {
    }

.product4TCaptionQV {
}

.product4TQV {
}

    .product4TQV .productImage {
    }

    .product4TQV .productImageImg {
    }

    .product4TQV .productTitle {
    }

    .product4TQV .ratingImage {
    }

    .product4TQV .ratingImageImg {
    }

    .product4TQV .productSalePrice {
    }

    .product4TQV .productPrice {
    }

    .product4TQV .productBuy {
    }

