/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
#main4TellContainer {
    display: block;
    margin: 0;
    padding: 0;
}

#second4TellContainer {
    background: none;
    display: block;
    margin: 0;
    padding: 0;
}

.FourTellContainer {
    display: block;
    margin: 0px;
    padding: 0px;
}

    .FourTellContainer:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.toutWrapper4T {
    background: none;
    border: none;
}

.product4TCaption {
    color: #104286;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0 5px 3px;
    text-align: left;
}

.product4TCaptionIE {
    width: 100%;
}

.product4T {
    background-color: #FFFFFF;
    border: none;
    clear: none;
    color: #00326A;
    cursor: pointer;
    float: left;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 140px;
}

    .product4T .productImage {
        clear: both !important;
        float: none !important;
        height: 100px;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .product4T .productImageImg {
        border: none;
        display: inline;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }

    .product4T .ratingImage {
        clear: both !important;
        float: none !important;
    }

    .product4T .ratingImageImg {
        border: none;
        display: inline;
        padding: 2px;
        vertical-align: middle;
    }

    .product4T .productTitle {
        height: 5em;
        overflow: hidden;
        width: 96%;
    }

        .product4T .productTitle:hover {
            color: #00326A;
            font-weight: bold;
            text-decoration: underline;
        }

    .product4T .productTitleIE {
    }


    .product4T .productTitleText {
    }

    .product4T .productPrice {
        clear: both !important;
        color: #0050AA;
        float: none !important;
    }

    .product4T .productSalePrice {
        clear: both !important;
        color: #0050AA;
        float: none !important;
        font-size: 12px;
    }

    .product4T .strikePrice {
        color: #00326A;
        text-decoration: line-through;
    }

    .product4T .productBuy {
        clear: both !important;
        float: none !important;
        margin: 0 0 10px;
        text-decoration: none;
    }

.productBuy .button {
    border: medium none;
    height: 36px;
}

/* For scrollables. */
.scrollable {
    float: left;
    overflow: hidden;
    position: relative;
}

    .scrollable .items {
        /* this cannot be too large;
         * must fit ev-ery-thing */
        clear: both;
        position: absolute;
        width: 20000em;
    }

/* Quite necessary; customize to fit. */
.items div {
    float: left;
}

/* For the buttons. */
a.browse {
    background: url(../images/hori_large.png) no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1px;
    height: 18px;
    margin: 100px 0px;
    width: 15px;
}

a.home {
    text-decoration: none;
}

    a.home:hover {
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
    }


a.right {
    background-position: 0 -30px;
    clear: right;
    margin-right: 0px;
}

a.left {
    background-position: 0 0;
    margin-left: 10px;
}

a.disabled {
    visibility: hidden !important;
}

/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */

/* Tout1 on PD page. */
.product4TCaptionPD1 {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    -moz-background-clip: border-box;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(http://www.saltysupply.com/v/vspfiles/assets/nav/SaltySupply_navhead.gif);
    -moz-background-origin: padding-box;
    background-origin: padding-box;
    -moz-background-size: auto;
    background-size: auto;
    color: #24326F;
    display: block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    margin-left: 2px;
    padding: 3px 0px 10px 0px;
    width: 158px;
}

.PD14T {
    float: left;
    width: 180px;
    clear: left;
}

.product4TPD1 {
    background: #FFF;
    display: block;
    float: none;
    font-family: arial;
    font-size: 12px;
    height: auto;
    padding: 5px;
    width: 150px;
    margin: 4px auto;
}

    .product4TPD1 + .product4TPD1 {
    }

    .product4TPD1 .productImage {
        margin: 10px 0px;
    }

    .product4TPD1 .productImageImg {
    }

    .product4TPD1 .productTitle {
        height: auto;
    }

    .product4TPD1 .ratingImage {
    }

    .product4TPD1 .ratingImageImg {
    }

    .product4TPD1 .productSalePrice {
    }

    .product4TPD1 .productPrice {
    }

    .product4TPD1 .productBuy {
    }

/* Tout2 on PD page */
.product4TCaptionPD2 {
}

.product4TPD2 {
    background: #FFF;
    font-size: 11px;
}

    .product4TPD2 + .product4TPD2 {
    }

    .product4TPD2 .productImage {
    }

    .product4TPD2 .productImageImg {
    }

    .product4TPD2 .productTitle {
    }

    .product4TPD2 .ratingImage {
    }

    .product4TPD2 .ratingImageImg {
    }

    .product4TPD2 .productSalePrice {
    }

    .product4TPD2 .productPrice {
    }

    .product4TPD2 .productBuy {
    }

/* View Cart */
.product4TCaptionVC {
    font-size: 14px;
}

.product4TVC {
    margin: 5px;
    padding: 5px;
    background: #D5E8F4;
    width: 130px;
}

    .product4TVC + .product4TVC {
    }

    .product4TVC .productImage {
        padding-bottom: 8px;
        height: 75px;
    }

    .product4TVC .productImageImg {
    }

    .product4TVC .productTitle {
        font-size: 10px;
        height: 5.5em;
        margin-left: 2px;
    }

    .product4TVC .ratingImage {
    }

    .product4TVC .ratingImageImg {
    }

    .product4TVC .productPrice {
        font-size: 10px;
    }

    .product4TVC .productSalePrice {
        font-size: 10px;
    }

    .product4TVC .productBuy {
    }

/* Category pages */
.product4TCaptionCat {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    -moz-background-clip: border-box;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(http://www.saltysupply.com/v/vspfiles/assets/nav/SaltySupply_navhead.gif);
    -moz-background-origin: padding-box;
    background-origin: padding-box;
    -moz-background-size: auto;
    background-size: auto;
    color: #24326F;
    display: block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 3px;
    width: 158px;
}

.product4TCat {
    background: #FFF;
    display: block;
    float: none;
    font-family: arial;
    font-size: 12px;
    height: auto;
    padding: 5px;
    width: 150px;
    margin: 4px auto;
}

    .product4TCat .productImage {
        margin: 10px 0px;
    }

    .product4TCat .productImageImg {
    }

    .product4TCat .productTitle {
        height: auto;
    }

    .product4TCat .ratingImage {
    }

    .product4TCat .ratingImageImg {
    }

    .product4TCat .productSalePrice {
    }

    .product4TCat .productPrice {
    }


    .product4TCat .productBuy {
    }

/* Tout on the home page.
.product4TCaptionHome {
}

.product4THome {
}

    .product4THome + .product4THome {
       
    }

    .product4THome .productImage {
    }

    .product4THome .productImageImg {
    }

    .product4THome .productTitle {
        
    }

    .product4THome .ratingImage {
    }

    .product4THome .ratingImageImg {
    }

    .product4THome .productSalePrice {
    }

    .product4THome .productPrice {
    }


    .product4THome .productBuy {
    } */


/* Search 
.product4TCaptionSearch {
}

.product4TSearch {
}

    .product4TSearch + .product4TSearch {
       
    }

    .product4TSearch .productImage {
    }

    .product4TSearch .productImageImg {
    }

    .product4TSearch .productTitle {
    }

    .product4TSearch .ratingImage {
    }

    .product4TSearch .ratingImageImg {
    }

    .product4TSearch .productSalePrice {
    }

    .product4TSearch .productPrice {
    }


    .product4TSearch .productBuy {
    }*/


/* Checkout 
.product4TCaptionCheck {
    
}

.product4TCheck {
    
}

    .product4TCheck .productImage {
        
    }

    .product4TCheck .productImageImg {
    }

    .product4TCheck .productTitle {
        
    }

    .product4TCheck .ratingImage {
    }

    .product4TCheck .ratingImageImg {
    }

    .product4TCheck .productSalePrice {
    }

    .product4TCheck .productPrice {
    }


    .product4TCheck .productBuy {
    }*/

/* Quick Cart 
.product4TCaptionQC {
}

.product4TQC {
    
}

    .product4TQC .productImage {
    }

    .product4TQC .productImageImg {
    }

    .product4TQC .productTitle {
        
    }

    .product4TQC .ratingImage {
    }

    .product4TQC .ratingImageImg {
    }

    .product4TQC .productSalePrice {
        
    }

    .product4TQC .productPrice {
    }


    .product4TQC .productBuy {
    }*/

/* Quick view
.product4TCaptionQV {
}

.product4TQV {
	margin:0px 2px;
	padding: 0ps 2px;
    width: 100px;
}

    .product4TQV .productImage {
    }

    .product4TQV .productImageImg {
    }

    .product4TQV .productTitle {
       
    }

    .product4TQV .ratingImage {
    }

    .product4TQV .ratingImageImg {
    }

    .product4TQV .productSalePrice {
        
    }

    .product4TQV .productPrice {
    }


    .product4TQV .productBuy {
    } */

