/*************************************************************/
/*          4-Tell STYLES							         */
/*************************************************************/
.FourTellContainer {
  display: block;
  margin: 0;
  padding: 0;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.toutWrapper4T {
  border: 1px solid #dddddd;
  background: none;
}
.product4TCaption {
  padding: 0;
  margin: 5px 0 0 5px;
  text-align: left;
  font-size: 24px;
  color: #374429;
  font-family: impact, Helvetica, sans-serif;
  font-weight: normal;
}
.product4T {
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.product4T + .product4T {
  border-left: 1px dotted #dddddd;
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: 100px;
}
.product4T .productImage .productImageImg {
  max-width: 100%;
  max-height: 100%;
  border: none;
  vertical-align: middle;
  display: inline !important;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T .productTitle {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  height: 3.9em;
  min-height: 3.9em;
  color: #4D4D4D;
}
.product4T .productTitle:hover {
  height: auto;
}
.product4T .productPrice {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  height: 1.2em;
  font-size: 13px;
  font-weight: normal;
}
.product4T .strikePrice {
  text-decoration: line-through;
  color: #dddddd;
}
.product4T .productSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  color: #c00;
  height: 1.2em;
  font-size: 13px;
  font-weight: bold;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
}
.product4T .productBuy img,
.product4T .productBuy input {
  margin: 0 auto;
  cursor: pointer;
  max-width: 100%;
  border: medium none;
}
/* For scrollables. */
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.FourTellContainer .owl-controls {
  z-index: 11;
  position: absolute;
  left: 0;
  /*top: 40%;*/
  top: 0;
  height: auto;
  width: 100%;
}
.FourTellContainer .owl-controls .owl-buttons div {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAwCAMAAAD5JNAAAAAAqFBMVEX///+wsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLGwsLG4mILSAAAAN3RSTlMAAQIDCAkLEhMaIiorLTg9QENHTlZcX2JkZn2Bg4uhpaetuL/Fx87Y3N7h6Onq7PL0+fr7/P3+pwOaKAAAAMhJREFUeF7d0EeywkAMRdE2tsGRnKOJDmTa9Nv/zj71B2ppwAa4szORqp6iGr21YjXHp4uVGy9z1ES/vQGs/UEBa7e1Ohuy4/WzG0COZgeAeQIID6uncNDJHsb6UzLPDfm/6VELq3R3F1bh4qrxVrZgtH9pxetuSwva4xda9xrC5bYrrF/7UcD8hr4uQusawH2XCkMfp8Iw+TzhhnlknYAZeFZDYWAifJhFzLes7zlkc161XHa/GPj8/6b9ITlfxq6iLqdx89sef8r8Ldm5n+0eAAAAAElFTkSuQmCC') /*../images/hori_large.png*/ no-repeat;
  width: 15px;
  height: 18px;
}
.FourTellContainer .owl-controls .owl-next {
  background-position: 0 -30px !important;
  position: absolute;
  right: -10px;
  top: 100px;
  float: right;
}
.FourTellContainer .owl-controls .owl-prev {
  background-position: 0 0;
  position: absolute;
  left: -10px;
  top: 100px;
  float: left;
}
/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */
/* Tout1 on PD page. */
.product4TPD1 .productImage {
  width: 50%;
  float: left;
}
.product4TPD1 .productTitle {
  height: 8.5em;
  min-height: 8.5em;
  width: 50%;
  float: right;
}
.product4TPD1 .productPrice {
  clear: both;
}
/* Tout2 on PD page
    Except on this site, it's 2nd home page. Just roll with it.
*/
.product4TCaptionPD2 {
  margin: 0;
  text-align: center;
  color: #111111;
  font-family: "LocustResistance", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 35px;
  background: url(//www.airrattle.com/v/vspfiles/templates/airrattle/images/homepage/best-sellers-bg.png);
}
.HOM24T {
  width: 300px;
}
@media only screen and (max-width: 1430px) {
  .HOM24T {
    width: 33.33%;
    float: left;
  }
}
.HOM24T .product4TCaption {
  display: block;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #111111;
  width: 100%;
  background: #dddddd;
  height: 32px;
  line-height: 32px;
  text-indent: 20px;
  margin: 0;
  margin-bottom: 4px;
  border-top: 1px solid #ffffff;
}
.product4TPD2 {
  padding: 0;
  margin: 6px auto;
  width: 100%;
  /*height: 90px;*/
  border-bottom: 1px dotted #333;
}
.product4TPD2:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.product4TPD2 + .product4TPD2 {
  border-left: none;
}
.product4TPD2 .productImage {
  padding: 0;
  float: left;
  width: 30%;
}
.product4TPD2 .productTitle {
  padding: 2px 4px;
  width: 60%;
  float: right;
  font-size: 12px;
  height: 4.3em !important;
}
@media only screen and (min-width: 1430px) {
  .product4TPD2 .productTitle {
    height: auto;
  }
}
.product4TPD2 .productSalePrice {
  width: 60%;
  float: right;
}
.product4TPD2 .productPrice {
  width: 60%;
  padding: 0;
  float: right;
}
/* Tout on the home page. */
.product4TCaptionHome {
  letter-spacing: 1px;
  margin: 0;
  padding: 0 30px;
  line-height: 38px;
  text-transform: uppercase;
  color: white;
  font-family: "LocustResistance", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: url(//www.airrattle.com/v/vspfiles/templates/airrattle/images/homepage/green-pattern.png);
}
.product4THome .productImage {
  height: 120px;
}
.product4THome .productTitle {
  height: 4em;
  min-height: 4em;
}
.product4THome .productTitle:hover {
  height: auto;
}
.product4THome .productSalePrice {
  padding-bottom: 5px;
}
.product4THome .productPrice {
  padding-top: 5px;
}
/* Category pages */
.CAT4T {
  max-width: 840px;
}
/* Search */
/* View Cart */
.product4TVC .productPrice {
  clear: both;
}
/* Checkout */
/* Quick Cart */
/* Quick view */

